html {
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,textarea,select,button {
    outline: none;
    font: inherit;
}

input {
    line-height: normal;
}

label,button {
    cursor: pointer;
    user-select: none !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    user-select: none !important;
}

p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

.sidebar {
    width: 150px;
    height: 935px;
    background-color: #191718;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar-list {
    list-style: none;
    /* flex-direction: column;
    display: flex; */
}

.sidebar-item {
    /* padding: 14px 91px 11px 16px; */
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 11px;
    font-weight: 700;
    color: #AAAAAA;
    border-bottom: solid 1px #5C5C5C;
    height: 44px;
    width: 100%;

}

/* .sidebar__item, */
.sidebar-link {
    /* flex-direction: column; */
    display: block;
    text-decoration: none;
    color: #AAAAAA;
    height: 100%;
    width: 100%;
    line-height: 18.75px;

}

.sidebar-item:hover,
.sidebar-link:hover {
    color: #fff;
    background-color: #5C5C5C;
    cursor: pointer;

}

.text-white {
    color: #fff;
}

.container{
    display: flex;
}

.content {
    height: 935px;
    width: 1768px;
    position: absolute;
    /* top: 0px; */
    left: 150px;
    background: #FFFFFF;
}

.logo,
.top-logo {
    width: 310px;
    height: 122px;
    /* margin: 20px 729px 793px; */
    /* display: block; */
    margin: 20px auto 30px;
}

.content-up {
    /* display: flex; */
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 1510px;
    height: 210px;
    /* padding-left: 269px; */
    /* padding-right: 269px; */
    /* padding-bottom: 38px; */
    padding-top: 38px; 
    background-color: #EFEFEF;
    
}
.content-up h3{
    margin-bottom: 18px;
}

.content-up-text {
    /* position: absolute; */
    width: 972px;
    height: 95px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    /* text-align: center; */
    padding-bottom: 38px;
    color: #000000;

    /* margin: 0px 269px; */
}

.icon {
    /* margin-left: auto;
    margin-right: 9px; */
    width: 128px;
    height: 128px;
    /* display: inline; */
    float: left;
    background-color: #fff;
    margin-right: 16px;
    margin-bottom: 6px;
}

.lorem-item {
    width: 470px;
    height: 252px;
    gap: 50px;
}

.lorem-info {
    display: inline;
    font-weight: 400px;
    font-size: 16px;
    line-height: 18.75px;
}

.lorem__list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.lorem-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    margin-bottom: 18px;
}

.footer {
    position: absolute;
    top: 856px;
    left: 0px;
    width: 1768px;
    height: 79px;
    border-top: solid 1px #DEDEDE;
}

.footer-text {
    /* width: 125px;
    height: 19px; */
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #3E3E3E;
}